/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= jquery-ui-1.8.16.custom.css
 *= require_tree . 
*/

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#nav_section {
    background: none repeat scroll 0 0 #5C9CCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	min-width: 1078px;
}

#app_name{
    font-size: 16px;
    margin-left: 120px;
    margin-top: 5px;
	float: left;
}

#user_nav{
    float: right;
	margin-right: 150px;
    position: relative;
}

#user_nav .thumbnail{
    float: left;
    margin-top: 3px;
	margin-right: 5px;	
}

#user_nav .link{
    color: #D8DFEA;
    font-size: 11px;
    line-height: 28px;
    text-decoration: none;	
	margin-right: 15px;
}

#menu_navi{
    font-size: 13px;
    margin-left: 90px;
    margin-top: 5px;
	float: left;
}

.navi_link{
    height: 35px;
    margin-right: 10px;
    width: 100px;	
}

#nav_section a{
    color: #D8DFEA;
    text-decoration: none;	
}

#nav_section a:hover{
	color: #FFF;
	background-color: #5C9CCC;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
/*  border: solid 1px black;*/
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.auth_provider:hover {
  color: #FFF;
  background-color: #777;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}